<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{name}}</h2>
        </div>
        <img src="./../../../../assets/images/Logo TTVN.png" alt="TTVN logo">
    </div>

    <mat-divider></mat-divider>
    <a mat-list-item *ngIf="showRouteHome" (click)="route(routeHome)">Home</a>
    <a mat-list-item *ngIf="showRouteBewoners" (click)="route(routeBewoners)">Bewoners</a>
    <a mat-list-item *ngIf="showRouteDownload" (click)="route(routeDownload)">Download</a>
    <a mat-list-item *ngIf="showRouteGebruikers" (click)="route(routeGebruikers)">Gebruikers</a>
</mat-nav-list>