<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly start">
    <div fxFlex="30">
        <form [formGroup]="contributieForm" (ngSubmit)="onSaveBedragen()" novalidate>
            <div class="box">
                <div class="boxheader">Contributie instellingen</div>
                <div class="boxcontent">
                    <mat-dialog-content>
                        <!-- hieronder de formControlName zoals in de formgroup is beschreven -->
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="Halfjaar Volwassenen"
                                formControlName="HalfjaarVolwassenen" [formControl]="HalfjaarVolwassenen">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="HalfjaarVolwassenen.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="Halfjaar Jeugd" formControlName="HalfjaarJeugd"
                                [formControl]="HalfjaarJeugd">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="HalfjaarJeugd.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="CompetitieBijdrage Volwassenen"
                                formControlName="CompetitieBijdrageVolwassenen"
                                [formControl]="CompetitieBijdrageVolwassenen">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="CompetitieBijdrageVolwassenen.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="CompetitieBijdrage Jeugd"
                                formControlName="CompetitieBijdrageJeugd" [formControl]="CompetitieBijdrageJeugd">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="CompetitieBijdrageJeugd.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="Halfjaar BondBijdrage"
                                formControlName="HalfjaarBondBijdrage" [formControl]="HalfjaarBondBijdrage">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="HalfjaarBondBijdrage.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="ZwerflidPercentage"
                                formControlName="ZwerflidPercentage" [formControl]="ZwerflidPercentage">
                            <span matPrefix>%&nbsp;</span>
                            <mat-error *ngIf="ZwerflidPercentage.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="Kosten Rekening" formControlName="KostenRekening"
                                [formControl]="KostenRekening">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="KostenRekening.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="number" placeholder="Korting Vrijwillger"
                                formControlName="KortingVrijwilliger" [formControl]="KortingVrijwilliger">
                            <span matPrefix>&euro;&nbsp;</span>
                            <mat-error *ngIf="KortingVrijwilliger.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>
                    </mat-dialog-content>
                </div>
                <div class="boxbottom">
                    <button mat-raised-button class='box-bottom-button' color="primary"
                        [disabled]='!contributieForm.valid'>Save</button>
                </div>
            </div>
        </form>
    </div>
    <div fxFlex="30">
        <form [formGroup]="incassoForm" novalidate>
            <div class="box">
                <div class="boxheader">Aanmaken Incasso CSV</div>
                <div class="boxcontent">
                    Deze functie maakt een CSV bestand met incasso's. De CSV dient als input voor de incasso Excel
                    van <a href='http://www.Sepabestand.nl' target='_blank'>Sepabestand.nl</a>.<br><br>
                    <mat-dialog-content>
                        <mat-form-field class="mat-form-max-width">
                            <input matInput type="text" placeholder="Omschrijving op afschrift"
                                formControlName="Omschrijving" [formControl]="Omschrijving"
                                (blur)="onSaveChangedFields()">
                            <mat-error *ngIf="Omschrijving.hasError('required')">
                                Veld is verplicht
                            </mat-error>
                        </mat-form-field>

                        <mat-checkbox class="margin-right-20" color="primary" formControlName="OudeBerekenMethode"
                            [formControl]="OudeBerekenMethode">Oude contributie bereken methode</mat-checkbox>
                    </mat-dialog-content>
                </div>
                <div class="boxbottom">
                    <button mat-raised-button color="primary" type="button" (click)="onIncassoBestand()"
                        class='box-bottom-button' [disabled]='!incassoForm.valid'>Maak Incasso bestand</button>
                    <button mat-raised-button color="primary" type="button" (click)='onRekeningBestand()'
                        class='box-bottom-button' [disabled]='!incassoForm.valid'>Maak Rekening
                        bestand</button>
                    <button mat-raised-button color="primary" type="button" (click)='onAndersBetalenden()'
                        class='box-bottom-button' [disabled]='!incassoForm.valid'>Maak Overigen
                        bestand</button>
                    <button mat-raised-button color="secondary" type="button" (click)="onBerekeningOverzicht()"
                        class='box-bottom-button' [disabled]='!incassoForm.valid'>Maak berekening
                        overzicht</button>
                </div>
            </div>
        </form>

        <div class="box">
            <div class="boxheader">Verstuur Contributie Mail</div>
            <div class="boxcontent">

                <mat-form-field>
                    <mat-label>Verwachte incasso datum</mat-label>
                    <input matInput [matDatepicker]="picker" (dateChange)="onSaveChangedDate($event)"
                        [value]="requestedDirectDebitDate.value">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="mat-form-max-width">
                    <textarea matInput type="text" placeholder="Vrije extra tekst voor onderaan de mail"
                        [(ngModel)]="secondaryFeeParams.ExtraText" (blur)="onSaveChangedFields()"
                        matTextareaAutosize matAutosizeMinRows='5'></textarea>
                </mat-form-field>

            </div>
            <div class="boxbottom">
                <button mat-raised-button color="primary" (click)="onSendMail($event)" class="alternative"
                    [disabled]='ledenArray.length == 0' matBadge={{ledenArray.length}} matBadgePosition="after"
                    matBadgeColor="accent">Verzend mail</button>
            </div>
        </div>

    </div>
</div>