<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()" *ngIf="logonData.IsLoggedOn">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="font-size: 11pt; margin-left: 5pt;">VVE van Gogh</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person</mat-icon>
                        <span style="font-size: 11pt">{{logonData.Name}}</span>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onConfig()">
                            <mat-icon>settings</mat-icon>
                            Settings
                        </button>
                        <button mat-menu-item (click)="onSignOff()">
                            <mat-icon>exit_to_app</mat-icon>
                            Uitloggen
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>