<div class="box">
  <div class="boxheader">Leden</div>
        <table mat-table #table [dataSource]="dataSource">


          <ng-container matColumnDef="Naam">
            <th mat-header-cell *matHeaderCellDef> Naam </th>
            <td mat-cell *matCellDef="let element"> {{ element.Naam }} </td>
          </ng-container>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="LidBond">
            <th mat-header-cell *matHeaderCellDef class="cell-padding">Lid Bond</th>
            <td mat-cell *matCellDef="let element" class="cell-padding">
              <mat-checkbox color="primary" (change)="onCheckboxLidBondChange($event, element)"
                [checked]="element.LidBond">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="CompGerechtigd">
            <th mat-header-cell *matHeaderCellDef class="cell-padding">Comp. Gerechtigd</th>
            <td mat-cell *matCellDef="let element" class="cell-padding">
              <mat-checkbox color="primary"  (change)="onCheckboxCompGerechtigdChange($event, element)"
                [checked]="element.CompGerechtigd">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="VrijwilligersKorting">
            <th mat-header-cell *matHeaderCellDef class="cell-padding">Vrijw.Korting</th>
            <td mat-cell *matCellDef="let element" class="cell-padding">
              <mat-checkbox color="primary" (change)="onCheckboxVrijwilligersKortingChange($event, element)"
                [checked]="element.VrijwilligersKorting">
              </mat-checkbox>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
    </div>
    <div class="fab-container">
      <div>
        <button *ngFor="let btn of fabButtons; index as i" #fabs id='{{i}}' mat-fab (click)="onFabClick($event, i)"
          color="primary" class="fab-secondary">
          <i class="material-icons">{{ btn.icon }}</i>
        </button>
  </div>
</div>
