<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly start">
  <div fxFlex="40">
    <div class="box">
      <div class="boxheader">Kopje pagina</div>
      <div class="boxcontent">
        <mat-form-field appearance="standard" class='mat-form-max-width'>
          <input matInput type="text" placeholder="Stand van de ladder na ronde 1 dd datum" [(ngModel)]='titleOfLadderPage'>
        </mat-form-field>
      </div>
    </div>
    <div class="box">
      <div class="boxheader">Ladder</div>
      <div class="boxcontent">

        <table mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef style="width:60%"> Naam </th>
            <td mat-cell *matCellDef="let element">
              <input matInput type="text" placeholder="Naam" [(ngModel)]='element.Name' class="margin-right-20">
            </td>
          </ng-container>

          <ng-container matColumnDef="Points">
            <th mat-header-cell *matHeaderCellDef style="width:20%"> Punten </th>
            <td mat-cell *matCellDef="let element">
              <input matInput type="number" placeholder="Punten" [(ngModel)]='element.Points' class="margin-right-20">
            </td>
          </ng-container>

          <ng-container matColumnDef="Step">
            <th mat-header-cell *matHeaderCellDef style="width:20%"> Trede </th>
            <td mat-cell *matCellDef="let element">
              <input matInput type="number" placeholder="Trede" [(ngModel)]='element.Step'>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      </div>
    </div>
    <div class="fab-container">
      <div>
        <button *ngFor="let btn of fabButtons; index as i" #fabs id='{{i}}' mat-fab (click)="onFabClick($event, i)"
          color="primary" class="fab-secondary">
          <i class="material-icons">{{ btn.icon }}</i>
        </button>
      </div>
    </div>
  </div>
</div>