<div fxLayout='row' fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly start">
    <div fxFlex='60'>
        <div class="box">
            <div class="boxheader">Onderhoud gebruikers</div>
            <div class="boxcontent">

                <mat-table #table [dataSource]="dataSource" class="mat-cell">

                    <ng-container matColumnDef="Inlogcode">
                        <mat-header-cell *matHeaderCellDef>Inlogcode</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.Userid}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Naam">
                        <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.Name}}</mat-cell>
                    </ng-container>

                    <!-- actions -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            <button mat-icon-button color="primary" (click)="onAdd()">
                                <mat-icon aria-label="Add icon">add</mat-icon>
                            </button>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let row; let i=index;">
                            <button mat-icon-button color="primary" (click)="onEdit(i, row.Userid)">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="warn">
                                <mat-icon aria-label="Delete" (click)="onDelete(i, row.Userid)">delete</mat-icon>
                            </button>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
                </mat-table>

            </div>
        </div>
    </div>
</div>