:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

body,
html {
  height: 100%;
}
// .sidenav-container {
//   height: calc(100% - 65px);
// }
.bg {
  /* The image used */
  background-image: url("./../../../assets/images/complex_front.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}